# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Jupyter Notebook metadata
*.nbconvert.ipynb

# VS Code settings
.vscode/

# macOS
.DS_Store

# dotenv
.env
.env.*

# Pyright / mypy
.mypy_cache/
.pyrightcache/

# Poetry
poetry.lock

# uv cache
.uv/

# Pyre type checker
.pyre/

# Other
*.log